build/
CMakeUserPresets.json
.cache/
compile_commands.json
*.o
*.so
*.a
moc_*
qrc_*
.qmake.stash
flow_key.txt
.DS_Store
tmp/
build/
resources/icons/AppIcon.iconset/
resources/icons/cleaned_*.png
resources/icons/mask.png
test.txt
